/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 80%;
}
  
/* 
* Optional: Makes the sample page fill the window. 
*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#question-box {
    display: flex;
    height: 20%;
    background-color: azure;
    align-items: center;
    gap: 50px;
}

#question-text {
    padding: 20px;
    color: darkblue;
    font-size: 3rem;
}

#next-button {
    padding: 10px;
    color: darkblue;
    font-size: 2rem;
    background-color: lightskyblue;
    border-radius: 10px;
}

.hide {
    display: None;
}

#recenter-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}

#recenter-button:hover {
    background: rgb(235, 235, 235);
}
  

@keyframes drop {
    0% {
      transform: translateY(-200px) scaleY(0.9);
      opacity: 0;
    }
    5% {
      opacity: 0.7;
    }
    50% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
    65% {
      transform: translateY(-17px) scaleY(0.9);
      opacity: 1;
    }
    75% {
      transform: translateY(-22px) scaleY(0.9);
      opacity: 1;
    }
    100% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
}

.drop {
    animation: drop 0.3s linear forwards .5s;
}

.fail-icon {
  animation-name: fail;
  animation-duration: 0.3s;
  transform: translate(-5px,40px);
}

/* The animation code */
@keyframes fail {
  0% {
    transform: translate(-3px,40px);
  }
  10% {
    transform: translate(-5px,38px);
  }
  20% {
    transform: translate(-7px,40px);
  }
  30% {
    transform: translate(-5px,42px);
  }
  40% {
    transform: translate(-3px,40px);
  }
  50% {
    transform: translate(-5px,38px);
  }
  60% {
    transform: translate(-7px,40px);
  }
  10% {
    transform: translate(-5px,42px);
  }
  80% {
    transform: translate(-3px,40px);
  }
  90% {
    transform: translate(-5px,38px);
  }
  100% {
    transform: translate(-7px,40px);
  }
}
  
  
  